@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  text-transform:capitalize;
  text-transform: uppercase;
}
button{  text-transform:capitalize;}
@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .animate-pulse-slow {
    animation: pulse 2s infinite;
  }